th {
font-style: ;
border-style: bold;
}

tbody tr th { 
font-style:italic;
font-weight: normal;

}

tbody td { 
font-style:normal;
height: 25px;
}

table {
	border: solid;
}

table td{
	border: solid;
}

table th{
	border: solid;
}

.outer-content{
	background-color: pink;

	position:relative;
	left:20px;
	width: 75%;	
}

#inner-content{
	background-color: blue;

	position:relative;
	text-align: center;
	width: 75%;	
}
fieldset>label {
	border: normal;
}

#inner-content {
	color: red
}
