<h1>MySQL Results Table:</h1>
 <table>
 <caption>Who wins? Cell content indicates the status of the row entry.</caption>
 <thead>
  <tr>
   <th> 
   <th> Godzilla
   <th> Batman
   <th> Shaq
   <th> Aaron Carter
   <th> Abe lincoln   
 <tbody>
  <tr>
   <th> Godzilla
   <td> N/A
   <td> Minor Loss
   <td> Loss
   <td> Unknown
   <td> Unknown   
  <tr>
   <th> Batman
   <td> Minor Win
   <td> N/A
   <td> Total Victory
   <td> Total Victory
   <td> Total Loss  
  <tr>
   <th> Shaq
   <td> Win
   <td> Total Loss
   <td> N/A
   <td> Minor Loss
   <td> Unknown  
  <tr>
   <th> Aaron Carter
   <td> Unknown
   <td> Total Loss
   <td> Minor Win
   <td> N/A
   <td> Unknown  
  <tr>
   <th> Abe Lincoln
   <td> Unknown
   <td> Total Victory
   <td> Unknown
   <td> Unknown
   <td> N/A     
   <tr>
   <td colspan="2"> Footer1
   <td colspan="4"> Footer2
</table>



<h1>MySQL Results:</h1>
	<form>
        <label for="nameId">Enter name of the exercise:</label>
        <input type="text" name="name" id="nameId">
        <input type="submit" id="submitName">
	  <br>
	  <br>
        <label for="repId">Enter the number of repetition:</label>
        <input type="text" name="rep" id="repId">
        <input type="submit" id="submitRep">
	  <br>
	  <br>
      <fieldset>
        <label for="weightId">Enter the weight of the weights used:</label>
        <input type="text" name="weight" id="weightId">
        <input type="submit" id="submitWeight">
      </fieldset>
	  <br>
	  <br>
      <fieldset>
        <label for="dateId">Enter the date of the exercise performed:</label>
        <input type="text" name="date" id="dateId">
        <input type="submit" id="submitDate">
      </fieldset>
	  <br>
	  <br>
      <fieldset>
        <label for="measureId">What is the measurement of weight (lb or kg):</label>
        <input type="text" name="measure" id="measureId">
        <input type="submit" id="submitMeasure">
      </fieldset>	  
    </form>